@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Roboto:400,500');
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    width: 1600px;
    height: 1968px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: block;
    line-height: 26px;
    margin: 0 auto;
}

p {
    color: #848484;
}

.topline {
    height: 10px;
    width: 1600px;
    display: block;
    background-color: #d4213d;
}

/* ======================================
   1. header
   =================================== */

.header {
    position: relative;
    width: 1600px;
    height: 600px;
    background-image: url(../img/background_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header h1 {
    position: absolute;
    left: 326px;
    top: 181px;
    font-size: 60px;
    font-family: "Gochi Hand", cursive;
    color: rgb(255, 255, 255);
    line-height: 0.333;
    text-align: left;
    margin: 0;
    font-weight: normal;
}

.logo span {
    color: #d4213d;
}

.header h2 {
    text-align: left;
    position: absolute;
    left: 328px;
    top: 294px;
    width: 389px;
    height: 59px;
    line-height: 36px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.header div {
    position: absolute;
    top: 383px;
    width: 53px;
    height: 53px;
    background-color: #030303;
    background-size: 20px 20px;
    border-radius: 50%;
    opacity: 0.502;
}

.apple:hover,
.android:hover,
.windows:hover {
    background-color: #d4213d;
}

.header div a img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.apple {
    left: 329px;
}

.android {
    left: 396px;
}

.windows {
    left: 464px;
}

/* ======================================
    2. features section
   =================================== */

.features {
    width: 1600px;
    height: 335px;
    text-align: center;
}

.container {
    margin: auto;
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.features .container div {
    width: 358px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.feature_one {
    margin-left: -21px;
}

.feature_two {
    margin: 0 60px;
}

.features img {
    display: block;
    margin: 0 auto;
    width: 98px;
    height: 98px;
}

.features h2 {
    margin-top: 25px;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    ;
}

.features p {
    margin-top: 18px;
}

/* ======================================
    3. get notify section
   =================================== */

.get_notified {
    height: 427px;
    width: 1600px;
    background: #e3e3e3;
}

.get_notified .subscription {
    height: 231px;
    width: 542px;
    margin: 59px 0 136px 0;
}

.subscription h2 {
    font-size: 22px;
    font-weight: 400;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    outline: none;
}

.subscription p {
    margin: 30px 0;
}

.subscription input {
    position: relative;
    float: left;
    padding-left: 25px;
    height: 54px;
    width: 300px;
    border: 1px solid #c8c8c8;
    border-radius: 15px 0 0 15px;
    border-right: 0;
}

.subscription button {
    position: relative;
    float: left;
    height: 54px;
    width: 141px;
    font-size: 22px;
    line-height: 18px;
    font-family: 'Myriad Pro';
    color: white;
    background-color: #d4213d;
    border: 0;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.vimeo iframe {
    margin: 60px 0 0 135px;
    border-radius: 8px;
}

/* ======================================
    4. testimonials section
   =================================== */

.testimonials {
    width: 1600px;
    height: 465px;
    text-align: center;
}

.testimonials_container {
    width: 1200px;
    height: 465px;
    display: block;
    margin: 58px auto;
}

.testimonials_container div {
    margin: 0 auto;
}

.testimonials_container div p {
    width: 888px;
    margin: auto;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
}

.testimonials_container div p:nth-child(2) {
    font-style: normal;
    padding-left: 10px;
}

.testimonials_container div .name {
    margin: 25px auto 50px auto;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
}

.slider {
    width: 300px;
}

.slider div img {
    margin: auto;
    border-radius: 50%;
}

.testimonials_container div .cheers {
    margin: 60px auto 25px auto;
}

/* 4.1 social icons 
===================================*/

.social_icons {
    position: relative;
}

.flip-container {
    display: inline-block;
    width: 34px;
    height: 34px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container:hover .twitter,
.flip-container:hover .facebook,
.flip-container:hover .pinterest,
.flip-container:hover .google,
.flip-container:hover .linkedin,
.flip-container:hover .twitter,
.flip-container:hover .youtube {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.twitter,
.facebook,
.pinterest,
.google,
.linkedin,
.youtube {
    position: relative;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.twitter_front,
.twitter_back,
.facebook_front,
.facebook_back,
.pinterest_front,
.pinterest_back,
.google_front,
.google_back,
.linkedin_front,
.linkedin_back,
.youtube_front,
.youtube_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
}

.twitter_front,
.twitter_back {
    background: url("../img/twitter.png") center no-repeat;
}

.facebook_front,
.facebook_back {
    background: url("../img/facebook.png") center no-repeat;
}

.pinterest_front,
.pinterest_back {
    background: url("../img/pinterest.png") center no-repeat;
}

.google_front,
.google_back {
    background: url("../img/google%20+.png") center no-repeat;
}

.linkedin_front,
.linkedin_back {
    background: url("../img/linkedin.png") center no-repeat;
}

.youtube_front,
.youtube_back {
    background: url("../img/youtube.png") center no-repeat;
}

.twitter_position {
    position: absolute;
    top: 25px;
    left: 463px;
}

.facebook_position {
    position: absolute;
    top: 25px;
    left: 513px;
}

.pinterest_position {
    position: absolute;
    top: 25px;
    left: 563px;
}

.google_position {
    position: absolute;
    top: 25px;
    left: 613px;
}

.linkedin_position {  
    position: absolute;
    top: 25px;
    left: 663px;
}

.youtube_position {
    position: absolute;
    top: 25px;
    left: 713px;
}

.twitter_front,
.facebook_front,
.pinterest_front,
.google_front,
.linkedin_front,
.youtube_front {
    background-color: #c5c5c5;
    z-index: 2;
}

.twitter_back,
.facebook_back,
.pinterest_back,
.google_back,
.linkedin_back,
.youtube_back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #d4213d;
}

/* ======================================
    5. footer
   =================================== */

.footer {
    width: 1600px;
    height: 130px;
    background: #e3e3e3;
}

.footer ul {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}

.footer ul li {
    align-items: stretch;
    padding: 55px 25px;
}

.footer ul li a {
    margin: auto;
    text-decoration: none;
}